<div class="collectingUnits view">
	<h3>Collecting units</h3>
	<a class="button round" href="#/add-collecting-unit">Add</a>
	<a class="button round" href="#/collecting-units/archived">Archived</a>
	<div class="row">
		<div class="large-3 columns">
			<h5>Name</h5>
		</div>
		<div class="large-3 columns">
			<h5>URL</h5>
		</div>
		<div class="large-3 columns">
			<h5>Last collected date</h5>
		</div>
		<div class="large-3 columns">
			<h5>Date created</h5>
		</div>
	</div>

	<div data-ng-repeat="cu in collectingUnits">
		<div class="row panel">
			<div class="large-3 columns">{{ cu.name }}</div>
			<div class="large-3 columns">{{ cu.locationUrl }}</div>
			<div class="large-3 columns">{{ formatDate(cu.lastCollected); }}</div>
			<div class="large-3 columns">{{ formatDate(cu.dateCreated); }}</div>
			<hr />
			<a class="button round small" href="#/collecting-unit/{{cu.id}}">Edit</a>
			<button class="button round small" data-ng-click="archive(cu)">Archive</button>
			<button class="button round small" data-ng-click="delete(cu)">Delete</button>
			<button class="button round small" data-ng-click="collect(cu)">Collect measures</button>
		</div>
	</div>
	<button class="button round" data-ng-click="collectAll()">Collect measures for all units</button>
</div>